*{
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.menu{
  color: white;
  background-color: #008080;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.row{
  padding: 10px;
  margin-right: 0;
  margin-left: 0;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  border: 1px solid #fff;
}
/* .navbar{
  float: right;
} */
#donate{
  border-radius: 3px;
}
img{
  width: 100%;
  margin-top: 36px;
}
.history{
  background-color: #add8e687;
  height: 200px;
  padding: 15px;
}
.col-md-8 {
    max-width: -webkit-fill-available;
    flex: none;
    width: 100%;
}
.novel{
  background-color: #90ee9085;
  height: 200px;
  padding: 15px;
}
.geography{
  background-color: #ffb81152;
  height: 200px;
  padding: 15px;
}
.book{
  /* margin-top: 10px; */
}
.card{
  /* border: none; */
  height: 100%;
}

embed{
  width: 100%;
  background: #333;
}
.footer{
  color: white;
  background-color: #008080;
  margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.containPost{
  
width: 80%;
  
display: flex;
  
margin-top: 25px;
}
#book-title {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 3px double #ffffff;
  padding: 5px 0 10px 5px;
  background: #3965b7;
  text-align: center;
}
iframe {
    width: 100%;
    margin-top: 30px;
}

.col-md-4 {
  margin-top: 30px;
  float: right;
  max-width: 30%;
}

.book-description{
  display: flex;  
  justify-content: space-around;
  margin-top: 20px;
}

#cover-image{
  
  width: 50%;
  height: 30%;
}

.row-book-title{
  font-size: 15px;
}

.container{
  text-align: center;
  height: 100%;
}


.container-fluid{
  width: 100%;
  margin: 0 auto;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

/* .navbar-brand{
  margin-right: 21rem;
} */

@media only screen and (max-width: 600px) {
  .page-link{
    padding: .5rem .55rem;
  }
  h1{
    font-size: 30px;
  }
  p.quote{
    font-size: 15px;
  }
}


/* h1{
  font-size: 4vw;
}
p.quote{
  font-size: 2vw;
} */

.topic{
  width: 30%;
}